<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">
<div id="background">
  <img src="assets/css/vf_banner.png" class="stretch noround" alt=""/>
</div>
<div class="headbox">

 <div id="twocolumn">
 <div id="left">
        <h5>Wednesday, June 10 - Sunday, June 14,
            2015</h5>
        <h6>With Very Special Guest Songleader</h6> 
        <h4>Laurence Cole</h4>

        <p>20 miles from <em>Decorah</em>, 40 from <em>Lanesboro</em>, 60 from
        <em>Viroqua</em>, 150 miles from the <em>Twin Cities</em>,
        <em>Madison</em>, or <em>Iowa City</em></p>

        <div>Planning to eat the good food we serve at camp?
            You’ll need to register by <b>May 27</b>.</div>
        <div id="btn"><a
             href="http://villagefiresinging.eventbrite.com/">Register Here</a></div>

        <p><b style="color:#8F0000;font-size:120%;">Frequently Asked Questions about Village
            Fire:</b><br/> <a href="images/FAQVillageFire.pdf">click here for
            answers</a></p>

 </div>

 <div id="right">
  <div class="contents">
    <ul>
      <li>
        <a href="#who">Who We Are</a>
        <ul>
          <li><a href="#about">About</a></li>
          <li>
            <a href="#who_is_invited">Who is invited</a>
            <ul>
              <li><a href="#children">We love children!</a></li>
            </ul>
          </li>
          <li>
            <a href="#camp">Our Camp</a>
            <ul>
              <li><a href="#lodging">Lodging</a></li>
              <li><a href="#accessibility">Accessibility</a></li>
              <li><a href="#food">Food</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#what">What We Do</a>
        <ul>
          <li><a href="#music">The Music</a></li>
          <li><a href="#songleaders">Our Songleaders</a></li>
          <li><a href="#daily">Daily Plan</a></li>
          <li><a href="#what_else">What Else?</a></li>
        </ul>
      </li>
      <li>
        <a href="#registration">Registration</a>
        <ul>
          <li><a href="#cost">Cost</a></li>
          <li><a href="#what_to_bring">What to Bring</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </li>
      <li>
        <a href="photos.html">More Photos</a>
      </li>
    </ul>
 </div>
 </div>


</div>
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
    {{ content }}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

  
</body>
</html>
