<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">
<div id="background">
  <img src="assets/css/vf_banner.jpg" class="stretch noround" alt=""/>
</div>
<div class="headbox">

 <div id="twocolumn">
 <div id="left">
        <h6 class="center">Wednesday, June 10 - Sunday, June 14,
            2015</h6>
        <div class="center">Registration Information Coming in 2015</div>
 </div>

 <div id="right">
        <h6>With Very Special Guest Songleader</h6> 
        <h4>Laurence Cole</h4>

        <p>20 miles from <em>Decorah</em>, 40 from <em>Lanesboro</em>, 60 from
        <em>Viroqua</em>, 150 miles from the <em>Twin Cities</em>,
        <em>Madison</em>, or <em>Iowa City</em></p>

        <h6 style="color:#8F0000">Frequently Asked Questions about Village
            Fire:</h6>
        <p><a href="images/FAQVillageFire.pdf">click here to see the
                answers</a></p>

 </div>

 </div>


</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
    {{ content }}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

  
</body>
</html>
