<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">
<div id="background">
  <img src="assets/css/vf_banner.jpg" class="stretch noround" alt=""/>
</div>
<div class="headbox">

 <div id="twocolumn">
 <div id="left">
        <div id="btn"><a href="http://www.eventbrite.com/e/village-fire-2014-tickets-10717304747">Register
            Here</a></div>
        <div class="center">or <a href="images/signupform.pdf">mail in this
                form</a></div>
 </div>

 <div id="right">
        <h6>With Very Special Guest Songleader</h6> 
        <h4>Laurence Cole</h4>

        <p>20 miles from <em>Decorah</em>, 40 from <em>Lanesboro</em>, 60 from
        <em>Viroqua</em>, 150 miles from the <em>Twin Cities</em>,
        <em>Madison</em>, or <em>Iowa City</em></p>

 </div>

 </div>


</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
    {{ content }}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

  
</body>
</html>
